# Yocto build outputs — trop lourds pour GitHub
build/tmp/
build/downloads/
build/sstate-cache/
build/cache/

# Layers téléchargées — clone via setup.sh
poky/
meta-openembedded/
meta-swupdate/

# Fichiers générés
*.pyc
__pycache__/
*.swp
*.orig
swu/*.ext4
disk-ab.img
swu/*.swu
*.bak
meta-moez/recipes-swupdate/swupdate/files/
